.navbar {
    h3 {
        color: white;
    }
}
.navbar-brand {
    img {
        height: 3em;
    }
}
.navbar-nav {
    position: absolute;
    right: 10%;
    .nav-item {
        margin-left: 1em;
    }
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
}